@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@200;300&display=swap');

html,
body {
    height: 100%;
    background: linear-gradient(rgb(128, 125, 125), rgb(100, 100, 227));
    padding: 0; margin: 0;
    color: white;

}

h1,
h2 {
    text-align: center;
    margin: 18px;
    font-family: 'Indie Flower', cursive;
}

p {
    font-size: 34px;
    justify-content: center;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.adj-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 35px;
    font-family: 'PT Sans', sans-serif;
}

.images {
    width: 70%;
    height: 70%;
}